@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-simple {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10%); }
}
.animate-bounce-simple {
  animation: bounce-simple 2.4s infinite ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/bg-space-cats.png') repeat center center fixed;
  background-size: cover;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
